/* seset */
*{
    margin: 0;
    padding: 0;
}

/* style index.html*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../img/xK.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pixelify Sans', sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.container {
    text-align: center;
}

.welcome {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 110px; 
    color: #f7f7f7;
    text-shadow: 0 0 10px rgba(68, 22, 58, 0.8), 0 0 20px rgba(255, 0, 200, 0.6), 0 0 30px rgba(255, 0, 200, 0.4);
}

button[type="button"] {
    height: 60px;
    width: 160px;
    padding: 10px 20px;
    font-size: 40px;
    background-color: rgba(186, 80, 212, 0.8);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    margin: auto;
    align-items: center;
}

button a{
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #cda0d4;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
}

/* Animasi welcome Tebak Gambah */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* style main.html */
.container-main{
    width: 90%;
    height: 90%;
    color: white;
    background: rgba(29, 27, 27, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* atur layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                        "header header"
                        "main score"
                        "main option";
    grid-template-rows: 0.2fr 1fr 1.5fr;
}

.header{
    grid-area: header;
    /* background-color: aqua; */
    font-size: 10px;
    text-align: center;
}

.header h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 70px; 
    color: #f7f7f7;
    text-shadow: 0 0 10px rgba(68, 22, 58, 0.8), 0 0 20px rgba(255, 0, 200, 0.6), 0 0 30px rgba(255, 0, 200, 0.4);
}

.header p{
    font-size: 18px;
}

.header p a{
    text-decoration: none;
    color: lightseagreen;
}

.header p a:hover{
    display: inline-block;
    background-color: rgba(186, 80, 212, 0.8);
    border-radius: 5px;
}

.main{
    /* background-color: #cda0d4; */
    border-right: 10px groove rgba(162, 168, 182, 0.863);
    border-top: 10px solid rgba(162, 168, 182, 0.863);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.main .img-quiz{
    height: 250px;
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
    /* background-color: black; */
    background-size: cover;
}

.main .question{
    font-size: 35px;
    margin: 20px;
}

.main .options-answer input{
    background-color: rgba(186, 80, 212, 0.8);
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 23px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.options-answer input:hover{
    background-color: #cda0d4;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.options-answer input:active{
    transform: scale(0.95);
}

.gameBerakhir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 10px groove rgba(162, 168, 182, 0.863);
    border-top: 10px solid rgba(162, 168, 182, 0.863);
}

.gameBerakhir h1{
    font-size: 60px;
}

.gameBerakhir .inputUser{
    font-size: 30px;
    margin-top: 20px;
}

.gameBerakhir input{
    width: 220px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}

.gameBerakhir button{
    height: 35px;
    width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(186, 80, 212, 0.8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-family: 'Pixelify Sans', sans-serif;
}

.score{
    grid-area: score;
    border-top: 10px solid rgba(162, 168, 182, 0.863);
    border-bottom: 10px solid rgba(162, 168, 182, 0.863);
    /* background-color: lightcoral; */
}

.score .judul-score{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.score .leader-board{
    padding-left: 10%;
    padding-right: 20%;
    font-size: 30px;
}

.option{
    grid-area: option;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightcyan; */
}

.option button{
    padding: 10px;
    height: 50px;
    background-color: rgba(168, 15, 206, 0.911);
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
}

.option button:hover{
    background-color: #cda0d4;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.option button:active{
    transform: scale(0.95);
}

.tambahSoal{
    font-size: 25px;
    padding-top: 10%;
    padding-right: 10%;
    border-right: 10px groove rgba(162, 168, 182, 0.863);
    border-top: 10px solid rgba(162, 168, 182, 0.863);
}

.tambahSoal ul{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tambahSoal input{
    border-radius: 10px;
    height: 35px;
    width: 320px;
    margin-bottom: 2px;
    padding: 3px;
    box-sizing: border-box;
}

.sembunyi{
    display: none;
}

.tambahSoal button{
    padding: 10px;
    height: 50px;
    background-color: rgba(168, 15, 206, 0.911);
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
}

.tambahSoal button:hover{
    background-color: #cda0d4;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tambahSoal button:active{
    transform: scale(0.95);
}

.hapusSoal{
    font-size: 25px;
    padding-right: 10%;
    border-right: 10px groove rgba(162, 168, 182, 0.863);
    border-top: 10px solid rgba(162, 168, 182, 0.863);
    text-align: center;
}

.hapusSoal h1{
    font-size: 40px;
}

